*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    box-sizing:border-box;
    scroll-behavior:smooth;
    scroll-padding-top:4rem;
    list-style:none;
    text-decoration:none;
 }
 
 :root{
    --main-color:#ffb411 ;
    --text-color:#1e1c2a ;
    --bg-color:#fff;

    --big-font:4rem ;
    --h2-font: 2.24rem;
    --p-font: 0.9rem;
 } 
 section{
    padding:100px 100px;
 }
body{
    color: var(--text-color);
    background:var(--bg-color) ;
}
header{
    position:fixed;
    width:100%;
    top:0;
    right: 0;
    z-index:1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding:18px 100px;
    box-shadow: 0 0.5rem 50rem rgba(0,0,0,0.1);
}
.logo{
    font-size: 1.2rem;
    font-weight:600 ;
    color:var(--main-color);
}
.navber{
    display:flex ;
}

.navber a{
    font-size: 1rem;
    padding:10px 20px;
    color:var(--text-color);
    font-weight: 500;
}
.navber a:hover{
    color:var(--main-color);
}
#menu-icon{
    font-size: 2rem;
    cursor:pointer;
    display: none;
    
}
.home{
    width:100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;

}
.home-img img{
    width: 100%;
    
}
.home-text h1{
    font-size:var(--big-font);
    color:var(--main-color)
}
.home-text h2{
    font-size: var(--h2-font);
    margin:1rem 0 1rem;
}
.btn{
    display:inline-block;
    background:var(--main-color) ;
    padding:10px 20px ;
    border-radius: 0.5rem;
    color:#fff;
}
.btn:hover{
    background:#ffa400;
}
.btn_buy{
    display:inline-block;
    margin-top: 10px;
    background:var(--main-color) ;
    padding:10px 20px ;
    border-radius: 0.8rem;
    color:#fff;
}
.btn_buy:hover{
    background:#ffa400;
}
.about{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.about-img img{
    max-width:80%;
    border-radius:0.5rem;
    width: 50%;
    height: auto;
}
.about-text span{
    color:var(--main-color);
    font-weight:500;
}
.about-text h2{
    font-size: var(--h2-font);
}
.about-text p{
    margin: 0.8rem 0 1.8rem;
}
.heading{
    text-align: center;
}
.heading span{
    color:var(--main-color);
    font-weight: 500;
}
.heading h2{
    font-size:var(--h2-font);
}
.menu-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap:1.5rem;
    align-items: center;
}
.logo1{
    font-size: 1.2rem;
    font-weight:600 ;
    color:var(--main-color);
}
.box{
    position:relative;
    margin-top: 2rem;
    height: auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    -ms-flex-align: 20px;
    box-shadow: 0 2px 4px rgb(4 64 54/10%);
    padding:10px;
}
.card{
    border: 0.5px solid black; /* 2px width, solid style, black color */
    padding: 20px; /* Optional: some padding inside the card */
    border-radius: 5px; /* Optional: rounded corners */
    /* border: #1e1c2a; */
    position:relative;
    margin-top: 2rem;
    height: auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    -ms-flex-align: 20px;
}
.box-img{
    width:200px;
    height:100px;
}
.box-img img{
    width:100%;
    height:100%;
    object-fit: center;
    object-position:center;
}
.box h2{ 
    font-size: 1.2rem;
}
.box h3{
    font-size:1rem;
    font-weight:400;
    margin: 4px 0 10px;
}
.box span{
    font-size:var(--p-font);
    font-weight:500;
}
.box .bx{
    position: relative;
    right:0;
    top:0;
    font-size: 20px;
    background:var(--main-color);
    border-radius: 0 0.5rem 0 0.5rem;
    padding:5px 8px;
}
.box .bx:hover {
    background:#ffa400;
    
} 
